@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-orange: hsl(25, 97%, 53%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-gray: hsl(217, 12%, 63%);
    --clr-medium-gray: hsl(216, 12%, 54%);
    --clr-blue: hsl(216, 12%, 54%);
    --clr-dark-blue: hsl(216, 12%, 8%);

    --clr-rating-background: #272e38;
}

body {
    background-color: var(--clr-dark-blue);
    font-family: "Overpass", sans-serif;
    font-size: 15px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2 {
    color: var(--clr-white);
}

p {
    color: var(--clr-light-gray);
}
img {
    max-width: 100%;
}

ul {
    list-style: none;
}

ul, li, button {
    font-family: inherit;
    font-size: 1rem;
}

button {
    cursor: pointer;
    user-select: none;
}

.btn {
    background-color: var(--clr-rating-background);
    color: var(--clr-light-gray);
    width: 2.625rem;
    height: 2.625rem;
    outline: none;
    border: none;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    background-color: var(--clr-orange);
    color: var(--clr-white);
}

.btn:focus {
    background-color: var(--clr-medium-gray);
    color: var(--clr-white);
}

.btn-submit {
    background-color: var(--clr-orange);
    border: none;
    border-radius: 1.875rem;
    padding: 0.5rem 2rem;
    color: var(--clr-white);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.875rem;
    transition:  0.3s ease-in-out;
}

.btn-submit:hover{
    background-color: var(--clr-white);
    color: var(--clr-orange);
}

.rating-container #submit-button {
   width: 100%;
   margin-top: 1.5rem;
}

.rating-container, .thank-you-container {
    background: linear-gradient(0deg, #171e28, #232a34);
    width: 330px;
    height: 360px;
    padding: 1.563rem;
    border-radius: 1.5rem;
}

.rating-container img {
    padding: 0.75rem;
    border-radius: 50%;
    background-color: var(--clr-rating-background);
    margin-bottom: 0.75rem;
}

.rating-container h1 {
    margin-bottom: 0.75rem;
}

.rating-container p {
    margin-bottom: 1.5rem;
}

.rating-container ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.thank-you-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thank-you-container.hidden {
    display: none;
}

.thank-you-container img {
    margin-bottom: 1rem;
}

.thank-you-container .user-rating {
    color: var(--clr-orange);
    padding: 0.25rem 0.75rem;
    background-color: #232a34;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.thank-you-container h2 {
    margin-bottom: 0.5rem;
}

.thank-you-container p {
    text-align: center;
}

.thank-you-container #back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.thank-you-container #back-button i {
    margin-right: 0.125rem;
    transition: 0.3s ease-in-out;
}

.thank-you-container #back-button:hover I {
    transform: translateX(-5px);
}
